* text=auto !eol
.github/FUNDING.yml -text
/.travis.yml -text
/CMakeLists.txt -text
/CMakeLists.txt.old -text
/LICENSE -text
/README.md -text
/README_EN.txt -text
/SGP4-VER.TLE -text
/changelog.txt -text
libsgp4/CMakeLists.txt -text
libsgp4/CoordGeodetic.cc -text
libsgp4/CoordGeodetic.h -text
libsgp4/CoordTopocentric.cc -text
libsgp4/CoordTopocentric.h -text
libsgp4/DateTime.cc -text
libsgp4/DateTime.h -text
libsgp4/DecayedException.cc -text
libsgp4/DecayedException.h -text
libsgp4/Defines.h -text
libsgp4/Eci.cc -text
libsgp4/Eci.h -text
libsgp4/Globals.cc -text
libsgp4/Globals.h -text
libsgp4/Observer.cc -text
libsgp4/Observer.h -text
libsgp4/OrbitalElements.cc -text
libsgp4/OrbitalElements.h -text
libsgp4/SGP4.cc -text
libsgp4/SGP4.h -text
libsgp4/SatelliteException.cc -text
libsgp4/SatelliteException.h -text
libsgp4/SolarPosition.cc -text
libsgp4/SolarPosition.h -text
libsgp4/TimeSpan.cc -text
libsgp4/TimeSpan.h -text
libsgp4/Tle.cc -text
libsgp4/Tle.h -text
libsgp4/TleException.cc -text
libsgp4/TleException.h -text
libsgp4/Util.cc -text
libsgp4/Util.h -text
libsgp4/Vector.cc -text
libsgp4/Vector.h -text
passpredict/CMakeLists.txt -text
passpredict/passpredict.cc -text
runtest/CMakeLists.txt -text
runtest/runtest.cc -text
sattrack/CMakeLists.txt -text
sattrack/sattrack.cc -text
